<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>238201844591-t2va2ck33d1tnlsrtqomlkljgq7jvh1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238201844591-t2va2ck33d1tnlsrtqomlkljgq7jvh1b</string>
	<key>API_KEY</key>
	<string>AIzaSyAtfEbEp54Sq3T5CgXAHPiZ11AZJx1RY70</string>
	<key>GCM_SENDER_ID</key>
	<string>238201844591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jec.17cm0219.NepalCommunity</string>
	<key>PROJECT_ID</key>
	<string>nepalcommunity-36b08</string>
	<key>STORAGE_BUCKET</key>
	<string>nepalcommunity-36b08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238201844591:ios:5cbaf5e49072276d</string>
	<key>DATABASE_URL</key>
	<string>https://nepalcommunity-36b08.firebaseio.com</string>
</dict>
</plist>